- name: Create a new network with subnet and router
  when: network_state == 'present'
  ansible.builtin.include_tasks: create_network.yaml

- name: Destroy a network and its subnets and router
  when: network_state == 'absent'
  ansible.builtin.include_tasks: destroy_network.yaml
