apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: innabox-devel

# This applies a name prefix to cluster-scoped resources (ClusterRoles,
# ClusterRoleBindings) but does not modify namespaced resources.
transformers:
- prefixTransformer.yaml

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: kustomize
    environment: development

resources:
- ../../base

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:

# This expects to find quay credentials in
# files/quay-pull-secret.json.
- name: quay-pull-secret
  files:
  - .dockerconfigjson=files/quay-pull-secret.json
  type: kubernetes.io/dockerconfigjson

# This expects to find an AAP license manifest
# in files/license.zip.
- name: config-as-code-manifest-ig
  options:
    labels:
      cloudkit.openshift.io/project: cloudkit-aap
  files:
  - license.zip=files/license.zip

patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: fulfillment-service
      spec:
        template:
          spec:
            containers:
            - name: server
              command:
              - /usr/local/bin/fulfillment-service
              - start
              - server
              - --log-level=debug
              - --log-headers=true
              - --log-bodies=true
              - --db-url=postgres://client:$(PGPASSWORD)@fulfillment-database:5432/service?sslmode=verify-full&sslcert=/secrets/cert/tls.crt&sslkey=/secrets/cert/tls.key&sslrootcert=/secrets/cert/ca.crt
              - --grpc-listener-network=unix
              - --grpc-listener-address=/run/sockets/server.socket
              - --grpc-authn-type=guest
              - --tenancy-logic=empty
