apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: innabox-devel

# This applies a name prefix to cluster-scoped resources (ClusterRoles,
# ClusterRoleBindings) but does not modify namespaced resources.
transformers:
- prefixTransformer.yaml

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: kustomize
    environment: development

resources:
- ../../base
- ./ca-trust-bundle.yaml

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
# This expects to find quay credentials in
# files/quay-pull-secret.json.
- name: quay-pull-secret
  files:
  - .dockerconfigjson=files/quay-pull-secret.json
  type: kubernetes.io/dockerconfigjson

# This expects to find an AAP license manifest
# in files/license.zip.
- name: config-as-code-manifest-ig
  files:
    - license.zip=files/license.zip

patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: fulfillment-service
      spec:
        template:
          spec:
            containers:
              - name: server
                imagePullPolicy: Always
                command:
                - /usr/local/bin/fulfillment-service
                - start
                - server
                - --log-level=debug
                - --log-headers=true
                - --log-bodies=true
                - "--db-url=postgres://client@fulfillment-database:5432/service?\
                  sslmode=verify-full&\
                  sslcert=/secrets/cert/tls.crt&\
                  sslkey=/secrets/cert/tls.key&\
                  sslrootcert=/secrets/cert/ca.crt"
                - --grpc-listener-network=unix
                - --grpc-listener-address=/run/sockets/server.socket
                - --grpc-authn-type=guest
                - --tenancy-logic=guest
  - patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: fulfillment-database
      spec:
        template:
          spec:
            initContainers:
              - name: password-generator
                image: quay.io/openshift/origin-cli:latest
              - name: gateway
                imagePullPolicy: Always
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: fulfillment-controller
      spec:
        template:
          spec:
            containers:
              - name: controller
                imagePullPolicy: Always
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cloudkit-operator-controller-manager
        namespace: innabox
      spec:
        template:
          spec:
            containers:
              - name: manager
                imagePullPolicy: Always
